<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Nova tarefa</title>
</head>

<body>
    <header>
        <div class="navbar navbar-light" style="background-color: #FFFFFF;">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong> <i class="fa fa-clock-o" aria-hidden="true"></i> Nova Tarefa</strong>
                </a>
            </div>
        </div>
    </header>

    <main role="main" style="background-color: #A8E6CF;">
        <center> 
            <div class="position-static" style="padding: 2%;">
                <div class="input-group" style="width: 100%; display: block;">
                    <div class="container" style="margin: 10px;">
                        <div class="row">
                            <div class="col-lg-7 col-sm-12">
                                <div class="container" style="width:100%">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-default" style="width: 100%; background-color: #A8E6CF; color: #FFFFFF; border-color: #FFFFFF;">Nome da Tarefa</span>
                                    </div>    
                                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" step="width: 100%;"  style="margin-top: 5px; margin-bottom: 10px;">
                                    <select class="form-control" step="width: 100%;">
                                        <option>Categoria</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-lg-5 col-sm-12">
                                <div class="container" style="width:100%">
                                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style="margin-bottom: 10px;">
                                       <div class="container" style="width: 100%;">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text" id="btnGroupAddon">Vezes ao dia</div>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Digite o número aqui" aria-label="Input group example" aria-describedby="btnGroupAddon">
                                            </div>
                                       </div> 

                                        <div class="container" style="width: 100%; margin-top: 5px;">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn btn-secondary" style="background-color: #FF8B94; border-color: #FFFFFF;">SEG</button>
                                                <button type="button" class="btn btn-secondary" style="background-color: #FFAAA5; border-color: #FFFFFF;">TER</button>
                                                <button type="button" class="btn btn-secondary" style="background-color: #FFAAA5; border-color: #FFFFFF;">QUA</button>
                                                <button type="button" class="btn btn-secondary" style="background-color: #FFAAA5; border-color: #FFFFFF;">QUI</button>
                                                <button type="button" class="btn btn-secondary" style="background-color: #FF8B94; border-color: #FFFFFF;">SEX</button>
                                                <button type="button" class="btn btn-secondary" style="background-color: #FF8B94; border-color: #FFFFFF;">SAB</button>
                                                <button type="button" class="btn btn-secondary" style="background-color: #FFAAA5; border-color: #FFFFFF;">DOM</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container" style="width: 100%;">
                                        <div>
                                            <label for="appt-time">Escolha um horario</label>
                                            <input id="appt-time" type="time" name="appt-time"
                                                min="00:00" max="23:59" required
                                                pattern="[0-9]{2}:[0-9]{2}">
                                            <span class="validity"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        </div>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col">
                                <h6>Descrição</h6>
                                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" style="width: 80%; height: 300px;">
                            </div>
                        </div>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col">
                                <form>
                                    <div>
                                        <a type="submit" class="btn btn-primary" href="/cronometro/" role="button">Iniciar Tarefa</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </center>
    </main>

    <footer class="text-muted mt-5 mb-5">
        <div class="container">
            <p class="float-right">
                <a href="#">Voltar para o topo</a>
                <br>
                <a href="/">Voltar para a página inicial</a>
            </p>
           
            <p>&copy; {{ info_sede.nome_empresa }}, 2021!</p>
            <p> <i class="fa fa-star" aria-hidden="true"></i> Quer saber mais? <a target="_blank" href="{{ info_sede.email }}">Nos mande um e-mail</a> ou venha nos visitar no nosso <a target="_blank" href="{{ info_sede.instagram }}">Instagram</a>.</p>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>

</html>