<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Parabéns! Tarefa Concluída</title>
</head>

<body style="width: 100%;">   
    <header>
        <div class="navbar navbar-light" style="background-color: #FF8B94;">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong> <i class="fa fa-trophy" aria-hidden="true"></i> Tarefa Concluída</strong>
                </a>
            </div>
        </div>
    </header> 

    <main role="main">
        <section class="jumbotron text-center" style="background-color: #F2F3F7; width: 100%; padding-bottom: 40px; padding-top: 40px; margin-bottom: 0px;">
            <div class="container" style="width: 100%; display: inline-block;">
                <div class="container" style="width: 100%;">
                    <div class="row justify-content-md-center">
                        <div class="col-md-12 col-lg-6">
                             <h4>Relatório</h4>
                             <div class="card-group">
                                <div class="card" style="border-color: #383949;">
                                    <div class="card-header" style="background-color: #A8E6CF; border-color: #383949;">
                                        <img src="https://www.pngrepo.com/png/318358/180/profile.png" class="card-img-top" alt="..." style="width: 40px;">
                                        <h5 style="margin-bottom: 0;">User Status</h5>
                                    </div>
                                    <div class="card-body" style="background-color: #FFF6F0;">
                                        <h6><span class="badge badge-secondary">LVL: 48</span></h6>
                                        <h6><span class="badge badge-success">XP: (324+52)<br>394 / 500</span></h6>
                                        <p class="card-text"><br>Você ganhou 52 XP!</p>
                                        <p class="card-text">Seu LVL continua 48! Faltam 106 XP para subir de nível! Continue assim!</p>
                                    </div>
                                </div>
                                <div class="card" style="border-color: #383949;">
                                    <div class="card-header" style="background-color: #DCEDC1; border-color: #383949;">
                                        <img src="https://www.pngrepo.com/png/318364/180/shield-done.png" class="card-img-top" alt="..." style="width: 40px;">
                                        <h5 style="margin-bottom: 0;">Insígnia da Determinação</h5>
                                    </div>
                                    <div class="card-body" style="background-color: #FFF6F0;">
                                        <h6><span class="badge badge-primary">LVL: 15 (14 +1 )</span></h6>
                                        <h6><span class="badge badge-warning">XP: 21 / 230</span></h6>
                                        <p class="card-text"><br>Você ganhou 100 XP! Com 79, você passou de nível e ficou com um excedente de 21 XP!</p>
                                        <p class="card-text">Seu LVL passou para 15! Faltam 209 XP para subir de nível! Continue assim!</p>
                                    </div>
                                </div>
                                <div class="card" style="border-color: #383949;">
                                    <div class="card-header" style="background-color: #FFAAA5; border-color: #383949;">
                                        <img src="https://www.pngrepo.com/png/318325/180/document.png" class="card-img-top" alt="..." style="width: 40px;">
                                        <h5 style="margin-bottom: 0;">Categoria</h5>
                                    </div>
                                    <div class="card-body" style="background-color: #FFF6F0;">
                                        <h6><span class="badge badge-info">TEMPO:<br>13h9min17s<br>(12h23m45s + 45m32s)</span></h6>
                                        <h6><span class="badge badge-danger">MEDALHAS:<br>57 (56 + 1)</span></h6>
                                        <p class="card-text"><br>Você completou uma atividade de 45min32s na categoria ESTUDO! Agora são acumulados 13h9min17s nessa categoria!</p>
                                        <p class="card-text">Você conquistou 1 medalha! Sua categoria ESTUDO agora possui 57 medalhas!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="container" style="width: 100%; display: inline-block; text-align: right;">
                                <img src="https://saapindia.com//images/photos/1/workwith.gif" alt="..." style="width: 80%; display: inline-block;">
                                <h3 class="jumbotron-heading" style="width: 100%; font-size: 1.8rem; text-align: right;"></i>Parabéns!</h3>
                                <p class="lead text-muted" style="width: 80%; display: inline-block;">Que orgulho! Parabéns pela sua primeira tarefa! <i class="fa fa-heart-o" aria-hidden="true"></i><br>Por essa e por todas as muitas outras que ainda virão!<i class="fa fa-bullseye" aria-hidden="true"></i></p>
                                <a href="/" class="btn btn-outline-success btn-lg active" role="button" aria-pressed="true">Retornar a Página Inicial</a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </section>
    </main>

    <footer class="text-muted mt-5 mb-5">
        <div class="container">
            <p class="float-right">
                <a href="#">Voltar para o topo</a>
                <br>
                <a href="/">Voltar para a página inicial</a>
            </p>
           
            <p>&copy; {{ info_sede.nome_empresa }}, 2021!</p>
            <p> <i class="fa fa-star" aria-hidden="true"></i> Quer saber mais? <a target="_blank" href="{{ info_sede.email }}">Nos mande um e-mail</a> ou venha nos visitar no nosso <a target="_blank" href="{{ info_sede.instagram }}">Instagram</a>.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>

</html>